@import url(variables.css);
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 *{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

@font-face {
   font-family: "LatoB";
   src: url(../storage/font/Lato-Black.ttf);
}

@font-face {
   font-family: "LatoL";
   src: url(../storage/font/Lato-Light.ttf);
}

@font-face {
   font-family: "LatoR";
   src: url(../storage/font/Lato-Regular.ttf);
}

body{
   background-image: url(../storage/img/fondo23.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

.container{
   height:100vh;
   width:75vw;
   margin:0 auto; 
   border: 1px solid rgb(255, 255, 255);
}

.titulo{
   color:#ffffff;
   margin-left: 4vw;
   margin-top:20vh;
   font-family: "LatoB";
   font-size: 4.3vh;
}

.texto1{
   color:#ffffff;
   margin-left: 4vw;
   margin-top:2vh;
   font-family: "LatoR";
   font-size:2.4vh ;
}

.texto2{
   color:#ffffff;
   font-size: 2.3vh;
   margin-left:1vh;
   margin-top:1vh;
   font-family: "LatoL";

}

.nro{
   color:#ffffff;
   font-family: "LatoB";
   font-size: 3vh;
   margin-left:1vh;
   margin-top:-1vh

}

.boton{
   color: #000000;
   transform: translate(4vw);
   margin-top: 3vh;
   font-size: 2.4vh;
   font-family: "LatoR";
   text-decoration: none;
   background-color: #ffffff;
   padding:2vh;
   width:11vw;
   border-radius: 1vw;
   text-align: center;
}

.caja1{
   width: 20vw;
   height: 19vh;
   background-color:#424242;
   mix-blend-mode:exclusion; 
   margin:-2vw;
   border-radius:1.5vh;
   float: left;
   margin-top: 6vw;
   margin-left:4.2vw;
   padding:2vw;
}