@import url(variables.css);
 *{
    padding: 0;
    margin:0;
    box-sizing: border-box;
 }

 body{
   background-image: url(/storage/img/44.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.contain{
   display:flex;
   /* border:0.1px solid rgb(255, 255, 255); */
   height:70vh;
   width:70vw;
   color:white;
}

 .container{
   display: flex;
   flex-direction: column;
   height:100vh;
   width:70vw;
   margin:0 auto; 
   border: 0.1px solid rgb(0, 0, 0);
   /* background-color: rgb(255, 255, 255); */
}

.img1,
.img2{
   position:absolute;
   z-index:-1 
}

.img2{
   left: 41.5vw;
   height:70vh
}

.img1{
   height:46vh;
   top:2vh
}

.titulo h1{
   font-size: 6.6vh;
   font-family: "Bitter";
   padding-left: 3vw;
   padding-top: 23.4vh;
}

.titulo p{
   font-size: 2.05vh;
   font-family: "SpaceMono";
   padding-left: 3.1vw;
   padding-top: 3vh;
}

.titulo{
   flex-grow: 0.2;
}

.boton{
   background-color: #ffffff;
   transform: translate(3vw);
   padding:1.5vh;
   font-size: 1.8vh;
   margin-top:3vh;
   width:10vw;
   text-align: center;
   border-radius: 12vw;
   text-decoration: none;
   color:black;
   font-family: "SpaceMono";
}

.titulo1{
   text-align: center;
   padding-top: 51vh;
   flex-grow: 1;
}

.titulo1 h1{
   font-family: "Bitter2";
   font-size: 5vh;
   padding-left: 3vw;
}

.titulo1 p{
   font-family: "SpaceMono";
   padding-left: 3vw;
   font-size: 1.7vh;
}


.titulo2{
   flex-grow: 1.1;
   text-align: center;
   padding-top: 11.8vh;
}

.titulo2 h1{
   font-family: "Bitter2";
   font-size: 5.5vh;
   padding-left:3vw;
}

.titulo2 p{
   font-family: "SpaceMono";
   padding-left: 3vw;
   font-size: 1.7vh;
}