:root{
    --color-primary:  #ff0000;
}

@font-face {
    font-family: "HR";
    src: url(../storage/font/Helvetica\ Regular.otf);
}

@font-face {
    font-family: "HL";
    src: url(../storage/font/helveticalt.ttf);
}

@font-face {
    font-family: "LM";
    src: url(../storage/font/Lato-Medium.ttf);
}

@font-face {
    font-family: "TNRB";
    src: url(../storage/font/times\ new\ roman\ bold.ttf);
}